anyio==3.5.0
argon2-cffi 
argon2-cffi-bindings 
attrs 
Babel==2.9.1
backcall 
bleach 
certifi==2021.10.8
cffi 
charset-normalizer==2.0.12
colorama 
debugpy 
decorator 
defusedxml 
entrypoints==0.3
idna==3.3
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets==7.6.5
jedi 
Jinja2 
json5==0.9.6
jsonschema 
jupyter-client 
jupyter-core
jupyter-server==1.13.5
jupyterlab-pygments
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert==6.4.2
nbformat
nest-asyncio
notebook
packaging
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz==2021.3
#pywin32==302
#pywinpty==1.1.6
pyzmq
requests==2.27.1
Send2Trash
six
sniffio==1.2.0
#terminado
testpath
tornado
traitlets
typing-extensions
urllib3==1.26.8
voila==0.3.2
wcwidth
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.2
widgetsnbextension==3.5.2
wincertstore==0.2
zipp
